*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box
{
    width: 80%;
    min-height: 300px;
    border: 2px solid black;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}
.main
{
    width: 80%;
    height: 50px;
    background-color: black;
    padding-top: 14px;
    font-size-adjust: 1.1vmax;
    position: fixed;
    top: 0;
}
.main ul li
{
    display: inline;
    text-decoration: none;
}
.main ul li a
{
    text-decoration: none;
    padding: 15px;
}
.main ul li a:hover
{
    background-color: blue;
    color: crimson;
}
#section
{
    width: 100%;
    height: 85vw;
    /* padding-top: 20px; */
    background-color: aqua;
    
}
#section h2
{
    padding-top: 50px;
    text-align: center;
}
#section1
{
    width: 100%;
    height: 85vw;
    /* padding-top: 20px; */
    background-color: orange;
    
}
#section1 h2
{
    padding-top: 50px;
    text-align: center;
}
#section2
{
    width: 100%;
    height: 85vw;
    /* padding-top: 20px; */
    background-color: gray;
    
}
#section2 h2
{
    padding-top: 50px;
    text-align: center;
}
#section3
{
    width: 100%;
    height: 85vw;
    /* padding-top: 20px; */
    background-color: yellow;
    
}
#section3 h2
{
    padding-top: 50px;
    text-align: center;
}
#section4
{
    width: 100%;
    height: 85vw;
    /* padding-top: 20px; */
    background-color: aqua;
    
}
#section4 h2
{
    padding-top: 50px;
    text-align: center;
}